.home-body {
  transition: 0.2s;
}

.logo {
  font-family: 'Delicious Handrawn';
}

.motto,
.menu-expand {
  font-family: 'Poppins';
}

.navbar {
  transition: 0.2s;
}

.text-not-found {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #000000;
}

.navbar li {
  cursor: pointer;
}

.nav-active {
  border-bottom: 2px solid #b99b6b;
}
