@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Poppins&family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: #4d5f4d;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #7f9e7f;
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #f3f4f5;
}
